@using FitnessCenter.Models
@model LoginViewModel
@{
    ViewBag.Title = "دخول";
}

<div class="login">
    <div class="container">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <br />
                <br />


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" style="text-align:right">
                    @Html.Label("الاسم:", new { @class = "mb-3 row" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "اسم المستخدم" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group" style="text-align:right">
                    @Html.Label("كلمه المرور:", new { @class = "mb-3 row" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = " كلمه المرور" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", })
                    </div>

                </div>

                <div @*class="form-group"*@ class="last">

                    <div>
                        <input type="submit" value="دخول" class="btn btn-orange" />
                    </div>

                </div>
                <div @*class="form-group"*@ class="last">
                    <div @*class="checkbox"*@>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.Label("هل نسيت كلمه السر")
                    </div>


                </div>
                <p style="text-align: left">
                    @Html.ActionLink("تسجيل كمستخدم جديد", "Register", null, new { @class = "padding-top: 10px; display: block;" })
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>

<script src="~/js/lib/bootstrap.bundle.min.js"></script>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}*@

@*@Styles.Render("~/css/style")*@
